APP_NAME="Sistema Facturacion"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=America/Argentina/Buenos_Aires

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Docker: compose.yaml sobreescribe DB_HOST/DB_PORT con el servicio interno.
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=sistema_facturacion
DB_USERNAME=facturacion
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

MAIL_MAILER=log
